
html {
    position: relative;
    min-height: 100%;
}
body {
    background-image: url("/image/bg.jpg");
    background-size: cover;
    margin-bottom: 10vh;
}
#footer {
    bottom: 0;
    width: 100%;
    height: 10vh;
}

.post{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.post:hover h3{
    color:red;
    cursor: pointer;
}

.post:hover{

    cursor: pointer;
}

.post p{
    position: relative ;
    margin-top: 20px;
    text-align: justify;

}

#header{
    background-size: cover;
}

#authorization{
    text-align: right;
    margin-top: 30px;
}

#authorization button{
    margin-right: 15px;
    margin-top: 5px;
}

#authorization input{
    margin-bottom: 10px;
}

#search{
    margin-top: 30px;
}

#pagination{
    text-align: center;
    margin-top: 40px;
}

#pagesNumber{
    color: white;

}

#content{

}

#logo:hover{
    cursor: pointer;
}
